@model GoalTrackingWebApp.Models.CompletedGoal

@{
    ViewData["Title"] = "Completed";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Completed</title>
</head>
<body>

<div>
    <h4>Completed Goals</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoalTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoalTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoalText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoalText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoalDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
